- Experimento aleatorio: lanzar dos dados honestos. 

- El evento: la suma de dos dados n

In [ ]:
from itertools import product 

Omega = set(product([1,2,3,4,5,6], repeat = 2))

len(Omega)

36

In [ ]:
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [ ]:
S = {omega for omega in Omega if omega[0]+omega[1]==2}
S

{(1, 1)}

In [ ]:
S = {omega for omega in Omega if omega[0]+omega[1]==3}
S

{(1, 2), (2, 1)}

In [ ]:
#Vamos a crear una función global 

def S(n):
  S = {omega for omega in Omega if omega[0]+omega[1]==n}
  return S

In [ ]:
S(12)

{(6, 6)}

In [ ]:
S(2)

{(1, 1)}

In [ ]:
[print(S(n))for n in range (2,13)]

{(1, 1)}
{(1, 2), (2, 1)}
{(1, 3), (3, 1), (2, 2)}
{(3, 2), (4, 1), (1, 4), (2, 3)}
{(5, 1), (3, 3), (1, 5), (4, 2), (2, 4)}
{(6, 1), (1, 6), (4, 3), (3, 4), (2, 5), (5, 2)}
{(3, 5), (2, 6), (4, 4), (6, 2), (5, 3)}
{(6, 3), (5, 4), (4, 5), (3, 6)}
{(6, 4), (4, 6), (5, 5)}
{(5, 6), (6, 5)}
{(6, 6)}

[None, None, None, None, None, None, None, None, None, None, None]

In [ ]:
#Vamos a crear una función global que calcule la probabilidad de cada evento 

def P(A):
  p = len(A)/len(Omega)
  return p

In [ ]:
P(S(2))

0.027777777777777776

In [ ]:
P(S(3))

0.05555555555555555

In [ ]:
{omega[0]+omega[1]: P(S(n)) for n in range(2,13)for omega in Omega}

{4: 0.027777777777777776,
 12: 0.027777777777777776,
 11: 0.027777777777777776,
 3: 0.027777777777777776,
 8: 0.027777777777777776,
 7: 0.027777777777777776,
 6: 0.027777777777777776,
 10: 0.027777777777777776,
 9: 0.027777777777777776,
 5: 0.027777777777777776,
 2: 0.027777777777777776}

In [ ]:
#otra forma 
d = {omega [0]+ omega[1]: P(S(2))for omega in Omega}
d

{4: 0.027777777777777776,
 12: 0.027777777777777776,
 11: 0.027777777777777776,
 3: 0.027777777777777776,
 8: 0.027777777777777776,
 7: 0.027777777777777776,
 6: 0.027777777777777776,
 10: 0.027777777777777776,
 9: 0.027777777777777776,
 5: 0.027777777777777776,
 2: 0.027777777777777776}

In [ ]:
import pandas as pd 
index = "Probabilidades"
dfprobabilidades = pd.DataFrame (d, index = [index])
dfprobabilidades

,4,12,11,3,8,7,6,10,9,5,2
Probabilidades,0.027778,0.027778,0.027778,0.027778,0.027778,0.027778,0.027778,0.027778,0.027778,0.027778,0.027778

In [ ]:
S = {(omega[0], omega[1]): omega[0]+omega[1]for omega in Omega}
S

{(1, 3): 4,
 (6, 6): 12,
 (5, 6): 11,
 (2, 1): 3,
 (6, 2): 8,
 (1, 6): 7,
 (5, 1): 6,
 (2, 5): 7,
 (1, 2): 3,
 (3, 3): 6,
 (5, 5): 10,
 (4, 4): 8,
 (6, 3): 9,
 (1, 5): 6,
 (3, 6): 9,
 (2, 2): 4,
 (4, 1): 5,
 (1, 1): 2,
 (6, 4): 10,
 (3, 2): 5,
 (2, 6): 8,
 (5, 4): 9,
 (4, 5): 9,
 (5, 2): 7,
 (1, 4): 5,
 (2, 3): 5,
 (4, 2): 6,
 (6, 5): 11,
 (3, 5): 8,
 (5, 3): 8,
 (4, 6): 10,
 (6, 1): 7,
 (3, 1): 4,
 (4, 3): 7,
 (3, 4): 7,
 (2, 4): 6}

In [ ]:
d = {"Emilia": "concha", "Rocio": "rosa"}
d

{'Emilia': 'concha', 'Rocio': 'rosa'}

In [ ]:
d.keys()

dict_keys(['Emilia', 'Rocio'])

In [ ]:
d.values()

dict_values(['concha', 'rosa'])

In [ ]:
d.items()

dict_items([('Emilia', 'concha'), ('Rocio', 'rosa')])

In [ ]:
S.items()

dict_items([((1, 3), 4), ((6, 6), 12), ((5, 6), 11), ((2, 1), 3), ((6, 2), 8), ((1, 6), 7), ((5, 1), 6), ((2, 5), 7), ((1, 2), 3), ((3, 3), 6), ((5, 5), 10), ((4, 4), 8), ((6, 3), 9), ((1, 5), 6), ((3, 6), 9), ((2, 2), 4), ((4, 1), 5), ((1, 1), 2), ((6, 4), 10), ((3, 2), 5), ((2, 6), 8), ((5, 4), 9), ((4, 5), 9), ((5, 2), 7), ((1, 4), 5), ((2, 3), 5), ((4, 2), 6), ((6, 5), 11), ((3, 5), 8), ((5, 3), 8), ((4, 6), 10), ((6, 1), 7), ((3, 1), 4), ((4, 3), 7), ((3, 4), 7), ((2, 4), 6)])

In [ ]:
from collections import defaultdict

dS = defaultdict(set)

for i,j in S.items():
  dS[j].add(i)

In [ ]:
dS

defaultdict(set,
            {4: {(1, 3), (2, 2), (3, 1)},
             12: {(6, 6)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             10: {(4, 6), (5, 5), (6, 4)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)}})

In [ ]:
DensidadS = {i: P(A)for i, A in dS.items()}
DensidadS

{4: 0.08333333333333333,
 12: 0.027777777777777776,
 11: 0.05555555555555555,
 3: 0.05555555555555555,
 8: 0.1388888888888889,
 7: 0.16666666666666666,
 6: 0.1388888888888889,
 10: 0.08333333333333333,
 9: 0.1111111111111111,
 5: 0.1111111111111111,
 2: 0.027777777777777776}

In [ ]:
import pandas as pd
index = "Fracciones"
dffracciones = pd.DataFrame(DensidadS, index =[index])
dffracciones

,4,12,11,3,8,7,6,10,9,5,2
Fracciones,0.083333,0.027778,0.055556,0.055556,0.138889,0.166667,0.138889,0.083333,0.111111,0.111111,0.027778